<header class="header">
  <div class="container">
    <!--logo-->
    <a href="./" class="logo">
      <svg><use href="./img/icons.svg#logo"></use></svg>
      <p><span class="color">dev</span>eloper</p>
    </a>
    <!--menu-->
    <div class="menu-backdrop">
      <div class="menu-body">
        <nav class="menu">
          <ul class="menu__list">
            <li><a href="./" class="current">Home</a></li>
            <li>
              <a href="./about.html">About</a>
              <ul>
                <li><a href="./">Submenu 1</a></li>
                <li><a href="./">Submenu 2</a></li>
                <li><a href="./">Submenu 3</a></li>
                <li><a href="./">Submenu 4</a></li>
              </ul>
            </li>
            <li><a href="./favorites.html">Favorites</a></li>
            <li><a href="#!" data-scrollto="footer">Contacts</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!--buttons-->
    <div class="header__buttons">
      <button type="button" class="theme-switcher">Theme switcher</button>
      <button type="button" class="burger"><span>burger</span></button>
    </div>
  </div>
</header>
