<!-- SECTION HERO -->
<section class="hero">
  <div class="container">
    <div class="titleBox">
      <div class="titleBox" data-animation="fade-bottom" data-delay="150">
        <h1 class="title title--h1">
          Starter template <br />
          for <span class="color italic">multi-page</span> app <br />
          development
        </h1>
        <p class="subtitle">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br />
          Praesentium perferendis tempora sint voluptatibus?
        </p>
        <div class="forBtn" data-animation="fade-bottom" data-delay="0">
          <button type="button" data-popup="request" class="button button">Request</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SECTION HERO END-->
